In [1]:
import pyspark
from pyspark.sql import SparkSession

### Creating App

In [2]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

22/06/17 13:02:00 WARN Utils: Your hostname, AbdulBaquiKhan resolves to a loopback address: 127.0.1.1; using 192.168.0.106 instead (on interface wlp0s20f3)
22/06/17 13:02:00 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/06/17 13:02:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

### Reading CSV File Using Spark

In [4]:
df_pyspark=spark.read.csv('data.csv')

In [5]:
df_pyspark.show()

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|      _c0|      _c1|                 _c2|     _c3|           _c4|      _c5|       _c6|           _c7|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 8:26|     7.65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/2010 8:26|     4.25|     17850|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|12/1/2010 8:34|     1.69|     13047|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8|12/1/2010 8:34|     3.75|     13047|United Kingdom|
|   536367|    22310|IVORY KNITTED MUG...|       6|12/1/2010 8:34|     1.65|     13047|United Kingdom|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|12/1/2010 8:34|     4.25|     13047|United Kingdom|
|   536367|    22623|BOX OF VINTAGE JI...|       3|12/1/2010 8:34|     4.95|     13047|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|12/1/2010 8:34|     9.95|     13047|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
only showing top 20 rows

### Reading CSV first row as Header

In [6]:
df_pyspark= spark.read.csv('data.csv',header = True,inferSchema=True)
df_pyspark

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: string, UnitPrice: double, CustomerID: int, Country: string]

In [7]:
df_pyspark.show()

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 8:26|     7.65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/2010 8:26|     4.25|     17850|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|12/1/2010 8:34|     1.69|     13047|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8|12/1/2010 8:34|     3.75|     13047|United Kingdom|
|   536367|    22310|IVORY KNITTED MUG...|       6|12/1/2010 8:34|     1.65|     13047|United Kingdom|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|12/1/2010 8:34|     4.25|     13047|United Kingdom|
|   536367|    22623|BOX OF VINTAGE JI...|       3|12/1/2010 8:34|     4.95|     13047|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|12/1/2010 8:34|     9.95|     13047|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|
|   536367|    21777|RECIPE BOX WITH M...|       4|12/1/2010 8:34|     7.95|     13047|United Kingdom|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
only showing top 20 rows

### Checking type of df_pyspark

In [8]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

### Head

In [9]:
df_pyspark.head()

Row(InvoiceNo='536365', StockCode='85123A', Description='WHITE HANGING HEART T-LIGHT HOLDER', Quantity=6, InvoiceDate='12/1/2010 8:26', UnitPrice=2.55, CustomerID=17850, Country='United Kingdom')

### Showing Schema

In [10]:
df_pyspark.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- Country: string (nullable = true)

### Getting Column Names

In [11]:
df_pyspark.columns

['InvoiceNo',
 'StockCode',
 'Description',
 'Quantity',
 'InvoiceDate',
 'UnitPrice',
 'CustomerID',
 'Country']

### Selecting Columns

In [12]:
df_pyspark.select(['Description','Quantity','Country']).show()

+--------------------+--------+--------------+
|         Description|Quantity|       Country|
+--------------------+--------+--------------+
|WHITE HANGING HEA...|       6|United Kingdom|
| WHITE METAL LANTERN|       6|United Kingdom|
|CREAM CUPID HEART...|       8|United Kingdom|
|KNITTED UNION FLA...|       6|United Kingdom|
|RED WOOLLY HOTTIE...|       6|United Kingdom|
|SET 7 BABUSHKA NE...|       2|United Kingdom|
|GLASS STAR FROSTE...|       6|United Kingdom|
|HAND WARMER UNION...|       6|United Kingdom|
|HAND WARMER RED P...|       6|United Kingdom|
|ASSORTED COLOUR B...|      32|United Kingdom|
|POPPY'S PLAYHOUSE...|       6|United Kingdom|
|POPPY'S PLAYHOUSE...|       6|United Kingdom|
|FELTCRAFT PRINCES...|       8|United Kingdom|
|IVORY KNITTED MUG...|       6|United Kingdom|
|BOX OF 6 ASSORTED...|       6|United Kingdom|
|BOX OF VINTAGE JI...|       3|United Kingdom|
|BOX OF VINTAGE AL...|       2|United Kingdom|
|HOME BUILDING BLO...|       3|United Kingdom|
|LOVE BUILDING BLO...|       3|United Kingdom|
|RECIPE BOX WITH M...|       4|United Kingdom|
+--------------------+--------+--------------+
only showing top 20 rows

### Describe Function Usage

In [13]:
df_pyspark.describe().show()

+-------+------------------+------------------+--------------------+------------------+---------------+------------------+------------------+-----------+
|summary|         InvoiceNo|         StockCode|         Description|          Quantity|    InvoiceDate|         UnitPrice|        CustomerID|    Country|
+-------+------------------+------------------+--------------------+------------------+---------------+------------------+------------------+-----------+
|  count|            541909|            541909|              540455|            541909|         541909|            541909|            406829|     541909|
|   mean|  559965.752026781|27623.240210938104|             20713.0|  9.55224954743324|           null|4.6111136260897085|15287.690570239585|       null|
| stddev|13428.417280796779|16799.737628427658|                null|218.08115785023438|           null| 96.75985306117963|1713.6003033215982|       null|
|    min|            536365|             10002| 4 PURPLE FLOCK D...|            -80995|1/10/2011 10:04|         -11062.06|             12346|  Australia|
|    max|           C581569|                 m|   wrongly sold sets|             80995|  9/9/2011 9:52|           38970.0|             18287|Unspecified|
+-------+------------------+------------------+--------------------+------------------+---------------+------------------+------------------+-----------+

### Adding a Column

In [14]:
df_pyspark = df_pyspark.withColumn('Quantity + 12',df_pyspark['Quantity']+12)

In [ ]:
df_pyspark.show()

### Droping a column

In [ ]:
df_pyspark.drop('InvoiceNo').show()

### Renaming Column Name

In [ ]:
df_pyspark= df_pyspark.withColumnRenamed('UnitPrice','Price')

In [ ]:
df_pyspark.show()

### Removing Null Values

In [ ]:
df_pyspark.na.drop().show()

In [ ]:
df_pyspark.na.drop(how='any').show()

In [ ]:
df_pyspark.na.drop(how='any',thresh=2).show()

In [ ]:
df_pyspark.na.drop(how='any',subset=['Quantity']).show()

### Fill Missing Value

In [ ]:
df_pyspark.na.fill('N/A','Description').show()

### Filtering Operations

In [ ]:
df_pyspark.filter('Quantity>6').show()

In [ ]:
df_pyspark.filter((df_pyspark['Quantity'] > 2) &
                  (df_pyspark['Quantity'] < 24)).show()

In [ ]:
df_pyspark.filter(~(df_pyspark['Quantity']>24)).show()

# Group And Aggregration

In [ ]:
df_filtered = df_pyspark.select(['Country','Quantity'])
df_filtered.show()

In [ ]:
df_filtered.groupBy('Country').sum().show()

In [ ]:
df_filtered.groupBy('Country').count().show()

In [ ]:
df_filtered.agg({'Quantity':'sum'}).show()

### Using Spark With SQL

In [ ]:
df = spark.read.csv('data.csv',header=True,inferSchema=True)

In [ ]:
df.show()

In [ ]:
df.createOrReplaceTempView("df")

In [ ]:
spark.sql("select * from df").show()

### Selecting Column With Spark SQL

In [ ]:
spark.sql("select InvoiceNo, StockCode, Description, Quantity from df").show()

### Filtering The Data Using Spark SQL

In [ ]:
spark.sql("select * from df where Quantity = 32").show()

### Group By And Aggregration

In [ ]:
spark.sql("""select InvoiceNo, StockCode, Description, sum(Quantity) from df group by InvoiceNo, StockCode, 
          Description""").show()